:root {
  --gap-xs: 4px;
  --gap-md: 8px;
  --gap-lg: 12px;
  --gap-xl: 16px;
  --gap-2xl: 20px;
}

.debug {
  outline: 1px solid red;
}

.dark .svg-icon {
  fill: white;
}

.light .svg-icon {
  fill: black;
}

.dark .toast {
  background: #171717;
  color: white;
  border: 1px solid rgba(87, 79, 79, 0.391);
}

.ellipsis-clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
