:root {
  --gap-xs: 4px;
  --gap-md: 8px;
  --gap-lg: 12px;
  --gap-xl: 16px;
  --gap-2xl: 20px;
}

.debug {
  outline: 1px solid red;
}

.dark .svg-icon {
  fill: white;
}

.light .svg-icon {
  fill: black;
}

.svg-icon-no-themeswitch {
  fill: black;
}

.dark .toast {
  background: #171717;
  color: white;
  border: 1px solid rgba(87, 79, 79, 0.391);
}

.ellipsis-clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width < 1000px) {
  .dashboard-sidebar,
  .infopannel-wra {
    display: none;
  }
}

.checkbox-ac {
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 2px;
  outline: 1px solid rgba(28, 28, 28, 0.2);
  transition: background-color 0.3s ease;
  margin: 0 4px;
}

.dark .checkbox-ac {
  outline: 1px solid var(--black-20, rgba(255, 255, 255, 0.2));
}
